   
<div class="tt-modal-quickview desctope">
  <div class="row">
    <div class="col-12 col-md-5 col-lg-6">
      <div class="tt-mobile-product-slider arrow-location-center">
         
          <div><img src="image\cache\catalog\wokiee\product\product-13-930x1161.jpg" title="MacBook" alt="MacBook" id="image" itemprop="image" data-zoom-image="http://demo2.ninethemes.net/wokiee/opencart/1/image/cache/catalog/wokiee/product/product-13-930x1163.jpg"></div>
                 
           <div><img src="image\cache\catalog\wokiee\product\product-13-02-930x1163.jpg" title="MacBook" alt="MacBook"></div>
         
           <div><img src="image\cache\catalog\wokiee\product\product-13-01-930x1163.jpg" title="MacBook" alt="MacBook"></div>
         
           <div><img src="image\cache\catalog\wokiee\product\product-13-03-930x1163.jpg" title="MacBook" alt="MacBook"></div>
         
      </div>
    </div>
    <div class="col-12 col-md-7 col-lg-6">
      <div class="tt-product-single-info">
        <div class="tt-add-info">
          <ul>
            <li><span>Product Code:</span> Product 16</li>
            <li><span>Availability:</span> In Stock</li>
          </ul>
        </div>
        <h2 class="tt-title">MacBook</h2>
        <div class="tt-price">
           
            <span id="price-old">$602.00</span>
           
        </div>
        <div class="tt-additional-price">
           
          <span class="price-tax">Ex Tax: <span id="price-tax">$500.00</span></span><br>
           
           
           
        </div>
         
          <div class="tt-review">
            <div class="tt-rating">
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>
            <a href="index-33.html?route=product/product&product_id=43">(0 reviews)</a>
          </div>
                <div class="tt-wrapper">
          
	
		Intel Core 2 Duo processor
	
		Powered by an Intel Core 2 Duo processor at speeds up to 2.16GHz, the new MacBook is the fastest ever.
	
		1GB memory, larger hard drives
	
		The new MacBoo...
        </div>
        <div class="tt-swatches-container">
           
          
           
        </div>

                 
          <div class="tt-wrapper">
            <div class="tt-row-custom-01">
              <div class="col-item">
                <div class="tt-input-counter style-01">
                  <span class="minus-btn" id="q_down"></span>
                  <input type="text" name="quantity" id="quantity_wanted" size="200" value="1">
                  <span class="plus-btn" id="q_up"></span>
                </div>
              </div>
              <div class="col-item">
               <input type="hidden" name="product_id" value="43">
               <a href="javascript:;" class="btn btn-lg" id="button-cart" data-loading-text="Loading..." data-original-text="Add to Cart"><i class="icon-f-39"></i><span>Add to Cart</span></a>
              </div>
            </div>
          </div>
              </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('.tt-modal-quickview #q_up').click(function(){
      var q_val_up=parseInt($(".tt-modal-quickview input#quantity_wanted").val());
      if(isNaN(q_val_up)) {
        q_val_up=0;
      }
      $(".tt-modal-quickview input#quantity_wanted").val(q_val_up+1).keyup(); 
      return false; 
    });
    
    $('.tt-modal-quickview #q_down').click(function(){
      var q_val_up=parseInt($(".tt-modal-quickview input#quantity_wanted").val());
      if(isNaN(q_val_up)) {
        q_val_up=0;
      }
      
      if(q_val_up>1) {
        $(".tt-modal-quickview input#quantity_wanted").val(q_val_up-1).keyup();
      } 
      return false; 
    });
  });
</script>
<script type="text/javascript"><!--
$('.tt-modal-quickview select[name=\'recurring_id\'], .tt-modal-quickview input[name="quantity"]').change(function(){
    $.ajax({
         url: 'index.php?route=product/product/getRecurringDescription',
         type: 'post',
         data: $('.tt-modal-quickview input[name=\'product_id\'], .tt-modal-quickview input[name=\'quantity\'], .tt-modal-quickview select[name=\'recurring_id\']'),
         dataType: 'json',
         beforeSend: function() {
              $('#recurring-description').html('');
         },
         success: function(json) {
              $('.alert, .text-danger').remove();
              
              if (json['success']) {
                   $('#recurring-description').html(json['success']);
              }
         }
    });
});
//--></script> 
 <script type="text/javascript"><!--
 $('.tt-modal-quickview .datetimepicker-date').datetimepicker({
      pickTime: false
 });

 $('.tt-modal-quickview .datetimepicker-datetime').datetimepicker({
      pickDate: true,
      pickTime: true
 });

 $('.tt-modal-quickview .datetimepicker-time').datetimepicker({
      pickDate: false
 });
           
 $('.tt-modal-quickview button[id^=\'button-upload\']').on('click', function() {
      var node = this;
      
      $('#form-upload').remove();
      
      $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
      
      $('#form-upload input[name=\'file\']').trigger('click');
      
      timer = setInterval(function() {
           if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);
                
                $.ajax({
                     url: 'index.php?route=tool/upload',
                     type: 'post',
                     dataType: 'json',
                     data: new FormData($('#form-upload')[0]),
                     cache: false,
                     contentType: false,
                     processData: false,
                     beforeSend: function() {
                          $(node).button('loading');
                     },
                     complete: function() {
                          $(node).button('reset');
                     },
                     success: function(json) {
                          $('.text-danger').remove();
                          
                          if (json['error']) {
                               $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                          }
                          
                          if (json['success']) {
                               alert(json['success']);
                               
                               $(node).parent().find('input').attr('value', json['code']);
                          }
                     },
                     error: function(xhr, ajaxOptions, thrownError) {
                          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                     }
                });
           }
      }, 500);
 });
 //--></script> 
<script type="text/javascript">
var ajax_price = function() {
    $.ajax({
         type: 'POST',
         url: 'index.php?route=product/liveprice/index',
         data: $('.tt-modal-quickview input[type=\'text\'], .tt-modal-quickview input[type=\'hidden\'], .tt-modal-quickview input[type=\'radio\']:checked, .tt-modal-quickview input[type=\'checkbox\']:checked, .tt-modal-quickview select, .tt-modal-quickview textarea'),
         dataType: 'json',
              success: function(json) {
              if (json.success) {
                   change_price('.tt-modal-quickview #price-special', json.new_price.special);
                   change_price('.tt-modal-quickview #price-tax', json.new_price.tax);
                   change_price('.tt-modal-quickview #price-old', json.new_price.price);
              }
         }
    });
}

var change_price = function(id, new_price) {
    $(id).html(new_price);
}

$('.tt-modal-quickview input[type=\'text\'], .tt-modal-quickview input[type=\'hidden\'], .tt-modal-quickview input[type=\'radio\'], .tt-modal-quickview input[type=\'checkbox\'], .tt-modal-quickview select, .tt-modal-quickview textarea, .tt-modal-quickview input[name=\'quantity\']').on('change', function() {
    ajax_price();
});
</script>
