   
<div class="tt-modal-quickview desctope">
  <div class="row">
    <div class="col-12 col-md-5 col-lg-6">
      <div class="tt-mobile-product-slider arrow-location-center">
         
          <div><img src="image\cache\catalog\wokiee\product\product-01-930x1161.jpg" title="Apple Cinema 30&quot;" alt="Apple Cinema 30&quot;" id="image" itemprop="image" data-zoom-image="http://demo2.ninethemes.net/wokiee/opencart/1/image/cache/catalog/wokiee/product/product-01-930x1163.jpg"></div>
                 
           <div><img src="image\cache\catalog\wokiee\product\product-01-04-930x1163.jpg" title="Apple Cinema 30&quot;" alt="Apple Cinema 30&quot;"></div>
         
           <div><img src="image\cache\catalog\wokiee\product\product-01-02-930x1163.jpg" title="Apple Cinema 30&quot;" alt="Apple Cinema 30&quot;"></div>
         
           <div><img src="image\cache\catalog\wokiee\product\product-01-03-930x1163.jpg" title="Apple Cinema 30&quot;" alt="Apple Cinema 30&quot;"></div>
         
      </div>
    </div>
    <div class="col-12 col-md-7 col-lg-6">
      <div class="tt-product-single-info">
        <div class="tt-add-info">
          <ul>
            <li><span>Product Code:</span> Product 15</li>
            <li><span>Availability:</span> In Stock</li>
          </ul>
        </div>
        <h2 class="tt-title">Apple Cinema 30&quot;</h2>
        <div class="tt-price">
           
            <span class="new-price" id="price-special">$110.00</span> <span class="old-price" id="price-old">$122.00</span>
           
        </div>
        <div class="tt-additional-price">
           
          <span class="price-tax">Ex Tax: <span id="price-tax">$90.00</span></span><br>
           
           
          <span class="reward">Price in reward points: 400</span><br>
           
           
          <br>
          <div class="discount">
             
            10 or more $107.60<br>
             
            20 or more $94.40<br>
             
            30 or more $81.20<br>
             
          </div>
           
        </div>
         
          <div class="tt-review">
            <div class="tt-rating">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
            </div>
            <a href="index-4.html?route=product/product&product_id=42">(1 reviews)</a>
          </div>
                <div class="tt-wrapper">
          
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed specifically for the creative professional, this display provides more space for easier access to all ...
        </div>
        <div class="tt-swatches-container">
           
          <div class="options">
             
             
             
                            <div class="tt-wrapper" id="input-option218">
                <div class="tt-title-options"><label class="control-label" for="input-option218">Size:</label></div>
                <div class="form-group required">
            <ul class="tt-options-swatch options-large">
               
                                  <li><a href="javascript:;" data-tooltip="+$12.00" data-tposition="top">
                    <input type="radio" class="d-none" name="option[218]" value="5">
                    S
                  </a></li>
                               
                                  <li><a href="javascript:;" data-tooltip="+$24.00" data-tposition="top">
                    <input type="radio" class="d-none" name="option[218]" value="6">
                    M
                  </a></li>
                               
                                  <li><a href="javascript:;" data-tooltip="+$36.00" data-tposition="top">
                    <input type="radio" class="d-none" name="option[218]" value="7">
                    L
                  </a></li>
                                            <script type="text/javascript">
                $(document).ready(function () {
                  $("#input-option218 .tt-options-swatch li a").click(function () {
                    $(this).find('input').prop( "checked", true ).change();
                    $("#input-option218 .tt-options-swatch li").removeClass("active");
                    $(this).parent().addClass("active");
                  });
                }); 
              </script>
            </ul>
              </div>
            </div>
                         
             
             
             
             
               
               
               
             
             
             
             
                            <div class="tt-wrapper" id="input-option223">
                <div class="tt-title-options"><label class="control-label" for="input-option223">Color:</label></div>
                <div class="form-group required">
                  <ul class="tt-options-swatch options-large">
                                            
                      <li><a class="options-color" href="javascript:;" data-tooltip="+$24.00" data-tposition="top">
                        <span class="swatch-img">
                          <input type="checkbox" class="d-none" name="option[223][]" value="9">
                          <img src="image\cache\catalog\color1-50x50.png" alt="" class="loading" data-was-processed="true">
                        </span>
                      </a></li> 
                                                                  
                      <li><a class="options-color" href="javascript:;" data-tooltip="+$36.00" data-tposition="top">
                        <span class="swatch-img">
                          <input type="checkbox" class="d-none" name="option[223][]" value="10">
                          <img src="image\cache\catalog\color2-50x50.png" alt="" class="loading" data-was-processed="true">
                        </span>
                      </a></li> 
                                                              <script type="text/javascript">
                      $(document).ready(function () {
                        $("#input-option223 .tt-options-swatch li a").click(function () {
                          if($(this).find("input").is(":checked")) {
                            $(this).find('input').prop( "checked", false ).change();
                            $(this).parent().removeClass("active");
                          } else {
                            $(this).find('input').prop( "checked", true ).change();
                            $(this).parent().addClass("active");
                          }
                        });
                      }); 
                    </script>
                  </ul>
              </div>
            </div>
                         
             
             
             
               
               
               
             
             
             
             
             
            <div class="tt-wrapper form-default">
                <div class="tt-title-options"><label class="control-label" for="input-option208">Text:</label></div>
                <div class="form-group required">
                  <input type="text" name="option[208]" value="test" placeholder="Text" id="input-option208" class="form-control">
                </div>
              </div>
             
             
             
               
               
               
             
             
            <div class="tt-wrapper form-default">
              <div class="tt-title-options"><label class="control-label" for="input-option217">Select:</label></div>
              <div class="form-group required">
                <select name="option[217]" id="input-option217" class="form-control">
                  <option value=""> --- Please Select --- </option>
                   
                  <option value="4">Red 
                   
                  (+$4.80)
                   
                  </option>
                   
                  <option value="3">Blue 
                   
                  (+$3.60)
                   
                  </option>
                   
                  <option value="1">Green 
                   
                  (+$1.20)
                   
                  </option>
                   
                </select>
            </div>
            </div>
             
             
             
             
             
             
               
               
               
             
             
             
             
             
             
            <div class="tt-wrapper form-default">
                <div class="tt-title-options"><label class="control-label" for="input-option209">Textarea:</label></div>
                <div class="form-group required">
                  <textarea name="option[209]" rows="5" placeholder="Textarea" id="input-option209" class="form-control"></textarea>
                </div>
            </div>
             
             
               
               
               
             
             
             
             
             
             
             
            <div class="tt-wrapper form-default">
                <div class="tt-title-options"><label class="control-label" for="input-option222">File:</label></div>
                <div class="form-group required">
                  <button type="button" id="button-upload222" class="btn btn-default btn-block" style="margin-top: 7px"><i class="fa fa-upload"></i> Upload File</button>
                  <input type="hidden" name="option[222]" value="" id="input-option222">
                </div>
            </div>
             
               
               
               
             
             
             
             
             
             
             
               
              <div class="tt-wrapper form-default">
                <div class="tt-title-options"><label class="control-label" for="input-option219">Date:</label></div>
                <div class="form-group required">
                  <div class="input-group datetimepicker-date">
                    <input type="text" name="option[219]" value="2011-02-20" data-date-format="YYYY-MM-DD" id="input-option219" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="far fa-calendar"></i></button>
                    </span>
                  </div>
                 </div>
              </div>
               
               
               
             
             
             
             
             
             
             
               
               
               
              <div class="tt-wrapper form-default">
                <div class="tt-title-options"><label class="control-label" for="input-option221">Time:</label></div>
                <div class="form-group required">
                  <div class="input-group datetimepicker-time">
                    <input type="text" name="option[221]" value="22:25" data-date-format="HH:mm" id="input-option221" class="form-control">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="far fa-calendar"></i></button>
                    </span></div>
                </div>
            </div>
               
             
             
             
             
             
             
             
               
               
              <div class="tt-wrapper form-default">
                <div class="tt-title-options"><label class="control-label" for="input-option220">Date &amp; Time:</label></div>
                <div class="form-group required">
                  <div class="input-group datetimepicker-datetime">
                    <input type="text" name="option[220]" value="2011-02-20 22:25" data-date-format="YYYY-MM-DD HH:mm" id="input-option220" class="form-control">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="far fa-calendar"></i></button>
                    </span>
                  </div>
               </div>
              </div>
               
               
             
          </div>
           
          
           
        </div>

                 
          <div class="tt-wrapper">
            <div class="tt-row-custom-01">
              <div class="col-item">
                <div class="tt-input-counter style-01">
                  <span class="minus-btn" id="q_down"></span>
                  <input type="text" name="quantity" id="quantity_wanted" size="200" value="2">
                  <span class="plus-btn" id="q_up"></span>
                </div>
              </div>
              <div class="col-item">
               <input type="hidden" name="product_id" value="42">
               <a href="javascript:;" class="btn btn-lg" id="button-cart" data-loading-text="Loading..." data-original-text="Add to Cart"><i class="icon-f-39"></i><span>Add to Cart</span></a>
              </div>
            </div>
          </div>
              </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('.tt-modal-quickview #q_up').click(function(){
      var q_val_up=parseInt($(".tt-modal-quickview input#quantity_wanted").val());
      if(isNaN(q_val_up)) {
        q_val_up=0;
      }
      $(".tt-modal-quickview input#quantity_wanted").val(q_val_up+1).keyup(); 
      return false; 
    });
    
    $('.tt-modal-quickview #q_down').click(function(){
      var q_val_up=parseInt($(".tt-modal-quickview input#quantity_wanted").val());
      if(isNaN(q_val_up)) {
        q_val_up=0;
      }
      
      if(q_val_up>1) {
        $(".tt-modal-quickview input#quantity_wanted").val(q_val_up-1).keyup();
      } 
      return false; 
    });
  });
</script>
<script type="text/javascript"><!--
$('.tt-modal-quickview select[name=\'recurring_id\'], .tt-modal-quickview input[name="quantity"]').change(function(){
    $.ajax({
         url: 'index.php?route=product/product/getRecurringDescription',
         type: 'post',
         data: $('.tt-modal-quickview input[name=\'product_id\'], .tt-modal-quickview input[name=\'quantity\'], .tt-modal-quickview select[name=\'recurring_id\']'),
         dataType: 'json',
         beforeSend: function() {
              $('#recurring-description').html('');
         },
         success: function(json) {
              $('.alert, .text-danger').remove();
              
              if (json['success']) {
                   $('#recurring-description').html(json['success']);
              }
         }
    });
});
//--></script> 
 <script type="text/javascript"><!--
 $('.tt-modal-quickview .datetimepicker-date').datetimepicker({
      pickTime: false
 });

 $('.tt-modal-quickview .datetimepicker-datetime').datetimepicker({
      pickDate: true,
      pickTime: true
 });

 $('.tt-modal-quickview .datetimepicker-time').datetimepicker({
      pickDate: false
 });
           
 $('.tt-modal-quickview button[id^=\'button-upload\']').on('click', function() {
      var node = this;
      
      $('#form-upload').remove();
      
      $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
      
      $('#form-upload input[name=\'file\']').trigger('click');
      
      timer = setInterval(function() {
           if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);
                
                $.ajax({
                     url: 'index.php?route=tool/upload',
                     type: 'post',
                     dataType: 'json',
                     data: new FormData($('#form-upload')[0]),
                     cache: false,
                     contentType: false,
                     processData: false,
                     beforeSend: function() {
                          $(node).button('loading');
                     },
                     complete: function() {
                          $(node).button('reset');
                     },
                     success: function(json) {
                          $('.text-danger').remove();
                          
                          if (json['error']) {
                               $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                          }
                          
                          if (json['success']) {
                               alert(json['success']);
                               
                               $(node).parent().find('input').attr('value', json['code']);
                          }
                     },
                     error: function(xhr, ajaxOptions, thrownError) {
                          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                     }
                });
           }
      }, 500);
 });
 //--></script> 
<script type="text/javascript">
var ajax_price = function() {
    $.ajax({
         type: 'POST',
         url: 'index.php?route=product/liveprice/index',
         data: $('.tt-modal-quickview input[type=\'text\'], .tt-modal-quickview input[type=\'hidden\'], .tt-modal-quickview input[type=\'radio\']:checked, .tt-modal-quickview input[type=\'checkbox\']:checked, .tt-modal-quickview select, .tt-modal-quickview textarea'),
         dataType: 'json',
              success: function(json) {
              if (json.success) {
                   change_price('.tt-modal-quickview #price-special', json.new_price.special);
                   change_price('.tt-modal-quickview #price-tax', json.new_price.tax);
                   change_price('.tt-modal-quickview #price-old', json.new_price.price);
              }
         }
    });
}

var change_price = function(id, new_price) {
    $(id).html(new_price);
}

$('.tt-modal-quickview input[type=\'text\'], .tt-modal-quickview input[type=\'hidden\'], .tt-modal-quickview input[type=\'radio\'], .tt-modal-quickview input[type=\'checkbox\'], .tt-modal-quickview select, .tt-modal-quickview textarea, .tt-modal-quickview input[name=\'quantity\']').on('change', function() {
    ajax_price();
});
</script>
