
@{
    ViewData["Title"] = "Контакты";
}

<div class="container-indent">
	<div class="container container-fluid-custom-mobile-padding ">
		<div class="tt-about02-col-list">
			<div class="row">
				<div class="col-md-6">
					<iframe src="https://yandex.ru/map-widget/v1/-/CGGazZ61" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
				</div>
				<div class="col-md-6">
					<h5 class="tt-title">Контакты</h5>
					<div class="tt-box-info">
						<p>
							<span class="tt-base-dark-color">Адрес:</span> Москва улица Лобачика 11<br>
						</p>
						<p>
							<span class="tt-base-dark-color">Телефон:</span> +7(985)975-24-77
						</p>
						<p>
							<span class="tt-base-dark-color">E-mail:</span> <a class="link" href="mailto:info@mydomain.com">info@mydomain.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

