@{
	ViewData["Title"] = "Home Page";
}

<!-- banner -->
<div class="banner-text">
	<div class="callbacks_container">
		<ul class="rslides" id="slider3">
			<li class="banner">
				<div class="container">
					<h3 class="agile_btxt">
						<span>С</span>казки
						&
						<span>К</span>раски
					</h3>
					<h4 class="w3_bbot">товары для праздников</h4>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- //banner -->
