
@{
	ViewData["Title"] = "Регистрация заказа";
}

<div class="container-indent">
	<div class="container">
		<p>Ваш заказ успешно сформирован, в ближайшее время с вами свяжеться наш менеджер.</p>
	</div>
</div>