@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<div class="container-indent">
	<div class="container container-fluid-custom-mobile-padding ">
		<div class="tt-about02-col-list">
			<div class="row">
				<h4>Страница не найдена</h4>
			</div>
		</div>
	</div>
</div>
